<!-- Validation failure messages -->

<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Task #<%= @task.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_task/<%= @task.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @task.description %></textarea>
            </div>
          </div>

          <!-- Label and input for contact_id -->
          <div class="form-group">
            <label for="contact_id" class="col-sm-2 control-label">
              Contact
            </label>
            <div class="col-sm-10">
             <%= select_tag :contact_id, options_from_collection_for_select(current_user.contacts.order("name ASC"), :id, :name, @task.contact_id), :class => "form-control"%>
            </div>
          </div>

          <!-- Label and input for due_on -->
          <div class="form-group">
            <label for="due_on" class="col-sm-2 control-label">
              Due on
            </label>
            <div class="col-sm-10">
              <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" name="due_on" id="due_on" value="<%= @task.due_on %>">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          </div>

          <!-- Label and input for event_id -->
          <div class="form-group">
            <label for="event_id" class="col-sm-2 control-label">
              Event
            </label>
            <div class="col-sm-10">
              <%= select_tag :event_id, options_from_collection_for_select(current_user.events.order("name ASC"), :id, :name, @task.event_id), :class => "form-control"%>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Task
              </button>
              or
              <a href="/tasks/<%= @task.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker(defaultDate: "<%= @task.due_on %>");
  });
</script>
