<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Task #<%= @task.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Description</dt>
              <dd><%= @task.description %></dd>

              <dt>Contact</dt>
              <dd><%= @task.contact_id %></dd>

              <dt>Due on</dt>
              <dd><%= @task.due_on.strftime('%b %e, %Y.') %></dd>

              <dt>Event</dt>
              <dd><%= @task.event_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/tasks" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_task/<%= @task.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
