<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @event.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Notes</dt>
              <% @event.notes.each do |note| %>
              <dd><%= note.note_body %></dd>
              <% end %>

              <dt>Tasks</dt>
              <% @event.tasks.each do |to_do| %>
              <dd><%= to_do.description %></dd>
              <dd><%= to_do.due_on %></dd>
              <% end %>
            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/events" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
