<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @event.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                Notes</li>
                <% @event.notes.each do |note| %>
                  <li class="list-group-item"><%= note.note_body %>
                    <div class="btn-group btn-group-justified">
                      <a href="/notes/<%= note.id %>/edit" class="btn btn-primary">
                      <i class="fa fa-edit"> Edit Note</i>
                      </a>
                      <a href="/delete_note/<%= note.id %>" class="btn btn-danger" rel="nofollow">
                      <i class="fa fa-trash-o"> Delete Note</i>
                      </a>
                    </div>
                  </li>
                <% end %>
              </ul>

              <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                Tasks</li>
                <% @event.tasks.each do |to_do| %>
                  <li class="list-group-item"><%= to_do.description %> - Due: <b><%= to_do.due_on.strftime('%b %e, %Y.') %></b>
                    <div class="btn-group btn-group-justified">
                      <a href="/tasks/<%= to_do.id %>/edit" class="btn btn-primary">
                      <i class="fa fa-edit"> Edit Task</i>
                      </a>
                      <a href="/delete_task/<%= to_do.id %>" class="btn btn-danger" rel="nofollow">
                      <i class="fa fa-trash-o"> Delete Task</i>
                      </a>
                    </div>

                  </li>
                <% end %>
              </ul>


            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/events" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
